*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: #f2f2f2;
   font-family: 'Nunito Sans', sans-serif;
   font: 16px;
   padding-top: 55px;

}

header{
   background: #4377ad;
   position: fixed;
   width: 100%;
   top: 0;
}

.menu{
   width: 90%;
   max-width: 1000px;
   margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.menu .logo{
   display: inline-block;
   margin-right: 1em;
}

.menu .logo img{
   vertical-align: top;
}

.menu .btn-menu{
   display: none;
   color: #fff;
   text-decoration: none;
   font-size: 1em;
}

.menu .logo:hover{
   background: #4377ad;
}

.menu .enlaces{
   display: inline-block;
   text-align: right;
}

.menu .enlaces a{
   color: #fff;
   text-decoration: none; 
   display: inline-block;
   padding: 1em;
   text-align: center;
   font-size: 1em;
}

.menu .enlaces i{
   margin-right: 5px;
}

.menu .enlaces a:hover{
   background: #f2f2f2;
   color: #4377ad;
}

main{
   width: 90%;
   max-width: 1000px;
   margin: 20px auto;
   background: #fff;
   padding: 20px;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

main article h1{
   font-weight: normal;
   margin-bottom: .5em;
}

main article h2{
   font-weight: normal;
   margin-bottom: .5em;
   
}

main article hr{
   margin-bottom: 1em;
   height: 2px;
   background: #4377ad;
   border: none;
}

main article p{
   margin-bottom: 1em; 
   color: #000000 ;
}

main article img{
   width: 100%;
   height: auto;
}

main article .importante{
   text-align: center;
   color: #bb1414;
}

.boton a{
   border-radius: 140px;
   width: 90%;
   max-width: 1000px;
   margin: auto;
   background: #4377ad;
   font-size: 27px;
   display: inline-block;
   text-align: right;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   -webkit-border-radius: 140px;
   -moz-border-radius: 140px;
   -ms-border-radius: 140px;
   -o-border-radius: 140px;
   color: #fff;
   text-decoration: none;
   padding: 1em;
   text-align: center;
   font-size: 1em;
}

.boton a:hover{
   background: #d5e9ff;
   color: #4377ad;
}

button:active{
   background: #4377ad;
}

/* Efectos menu*/

.headroom{
   transition: transform .4s ease;
   -webkit-transition: transform .4s ease;
   -moz-transition: transform .4s ease;
   -ms-transition: transform .4s ease;
   -o-transition: transform .4s ease;
}

.headroom--pinned{
   transform: translateY(0%);
   -webkit-transform: translateY(0%);
   -moz-transform: translateY(0%);
   -ms-transform: translateY(0%);
   -o-transform: translateY(0%);
}

.headroom--unpinned{
   transform: translateY(-100%);
   -webkit-transform: translateY(-100%);
   -moz-transform: translateY(-100%);
   -ms-transform: translateY(-100%);
   -o-transform: translateY(-100%);
}

/* Mediaqueris*/

@media screen and (max-width: 700px){
   header .menu{
      flex-direction: column;
   }

   header .menu .logo{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 1em;
   }

   header .menu .logo .btn-menu{
      display: inline-block;
   }

   header .menu .enlaces{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
   }
}